html {
    overflow: hidden;
    height: 100vh;
    background: url("./assets/images/bg.jpg") no-repeat fixed 50% 0;
}

body {
    overflow: auto;
    height: 100%;
    margin: 0;
    background-color: #F6F3EDF2;
    scroll-behavior: smooth;
}
